<div class="padding-left-10">
	{{#if projectId}}
		<form {{action 'submitIssue' on="submit"}}>
			{{paper-input 
				class="flex-30" 
				label="Issue" 
				placeholder="Issues" 
				value=issueTitle 
				onChange=(action (mut issueTitle))
			}}
		</form>
	{{/if}}
	<div class="layout-row flex">
		<div class="flex-{{if selectIssue '80' '100'}} border-left">
			{{#paper-list}}
			  {{#each issues as |issue|}}
			    {{#paper-item class="md-3-line"}}
			      <div {{action 'selectIssue' issue}} class="md-list-item-text pointer">
				<h3>{{issue.title}}</h3>
				<h4>{{issue.description}}</h4>
			      </div>
			      {{paper-divider}}
			    {{/paper-item}}
			  {{/each}}
			{{/paper-list}}
		</div>
		
		{{#if selectIssue}}
			<div class="flex-20">
				{{issue/advanced-view
					selectIssue = selectIssue
				}}
			</div>
		{{/if}}
	</div>
</div>
