{{#if projectId}}
	<form {{action 'submitIssue' on="submit"}}>
		{{paper-input 
			class="flex-30" 
			label="Issue" 
			placeholder="Issues" 
			value=issue 
			onChange=(action (mut issue))
		}}
	</form>
{{/if}}

{{#paper-list}}
  {{#each issues as |issue|}}
    {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        <h3>{{issue.title}}</h3>
        <h4>{{issue.description}}</h4>
      </div>
      {{paper-divider}}
    {{/paper-item}}
  {{/each}}
{{/paper-list}}
