<form {{action 'submitProject' on="submit"}}>
	{{paper-input 
		class="flex-30" 
		label="Add Project"
		placeholder="Projects" 
		value= project
		onChange=(action (mut project))
	}}
</form>


{{#paper-list}}
  {{#each projects as |project|}}
    {{#paper-item onClick=(action "setProject" project) as |controls|}}
      <p>{{project.projects}}</p>
      <div class="md-secondary-container">
        {{#controls.button secondary=true iconButton=true onClick=(action "deleteProject" project)}}
          {{paper-icon "delete"}}
        {{/controls.button}}
      </div>
    {{/paper-item}}
    {{paper-item}}
  {{/each}}
{{/paper-list}}

